<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <style>
        ul{
            list-style-type: none;
            margin:0;
            padding:0;
            overflow: hidden;
            background-color: aqua;

        }
        li{
            float: left;
        }
        li a{
            display: block;
            color: aliceblue;
            text-align: center;
            padding: 14px 16px;
            text-decoration-color: black;
        }
        li a:hover{
            background-color: rgb(13, 228, 228);

        }
    </style>
    <ul>
        <li><b><a class="active" href="#home"></a><b></li>
        <li><a href="#news">news</a></li>
        <li class="account">
            <a href="javascript;void(0)"class></a>

        </li>
        <li><a href="#contact">contact</a></li>
        <li><a href="about">about</a></li>
    </ul>
</body>
</html>